

.nav-link {
	font-size: 1.1rem;
	margin-right: 1.2rem;
}

table {
	margin-top: 1rem;
}

#scheduleTable .btn-dark {
	margin: 0.2vh 0.2vw;
}

#listSubmit {
	margin: 10px 0 20px 0;
}

#addBtns {
	text-align: center;
}

#completeDate {
	margin: 1vh 1vw;
}

#rowsCount {
	width: 20%;
}

#columnsCount {
	width: 20%;
}